<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnetdb;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="Perfin" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Perfin;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="Perfin" connectionString="Data Source=|DataDirectory|Perfin.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-PerfinModel-201252232823;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Perfin.Web-20120601131139;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Perfin.Web-20120601131139.mdf" />
  </connectionStrings>
</configuration>