<div>
    <!--Breadcrumb Navigation-->
    <!-- ko compose: {view: '_shared/breadcrumb'} -->
    <!-- /ko-->
    <form>
        <fieldset>
            <!-- Title -->
            <legend class="title-description">
                <span data-bind="html: pageDisplayName"></span>
                <span class="title-description-info" data-bind="html: pageDescription"></span>
            </legend>

            <!-- Fields -->
            <section class="fields" data-bind="with: entry">

                <div class="row">
                    <div class="span2">
                        <label>Amount</label>
                        <input type="text" class="span2" placeholder="1,200.30" data-bind="value: amount, meiomask: 'decimal-us'">
                        <span class="help-block">The cost or receipt of your entry.</span>
                    </div>

                    <div class="span2">
                        <label>Type Transaction</label>
                        <select data-bind="options: $parent.typeTransactions, 
                                    optionsText: 'name', 
                                    optionsValue: 'id', 
                                    value: typeTransaction,
                                    optionsCaption: 'Choose...', 
                                    chosen: true"
                            class="span2">
                        </select>
                        <span class="help-block mt10">Income(+) or Expense(-).</span>
                    </div>

                    <div class="span3">
                        <label>Entry Date</label>
                        <div class="input-append date">
                            <input class="span2" size="16" placeholder="01/23/2013" type="text"
                                data-bind="datepicker: entryDate, 
                                           datepickerOptions: { minDate: new Date() }, 
                                           meiomask: 'date'">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                        <span class="help-block">If you don't remember leave empty.</span>
                    </div>
                </div>

                <label>Category</label>
                <select data-bind="options: $parent.categories, 
                                    optionsText: 'name', 
                                    optionsValue: 'id', 
                                    value: categoryId, 
                                    optionsCaption: 'Choose...', 
                                    chosen: true"
                    class="span4">
                </select>
                <a href="#/account/add" class="btn btn-primary btn-small" style="margin-top: -5px;">
                    <i class="icon-plus"></i>
                    New Category
                </a>
                <span class="help-block">Organize your entries in categories.</span>

                <label>Details</label>
                <textarea class="span5" rows='5' cols='60' placeholder="Gift for my wife" data-bind="value: description"></textarea>
                <span class="help-block">Details of your entry.</span>

            </section>


            <!-- Buttons -->
            <div class="form-actions">

                <button type="submit" class="btn btn-primary"
                    data-bind="click: save, enable: canSave">
                    <i class="icon-save"></i>Save
                </button>

                <button type="reset" class="btn"
                    data-bind="click: cancel, enable: canSave">
                    <i class="icon-undo"></i>Cancel
                </button>

                <button class="btn btn-danger"
                    data-bind="click: deleteCategory, disable: hasChanges">
                    <i class="icon-trash"></i>Delete
                </button>

                <button class="btn btn-info" data-bind="click: goBack">
                    <i class="icon-hand-left"></i>Back
                </button>

                <i class="icon-asterisk" data-bind="visible: hasChanges"></i>
            </div>

        </fieldset>
    </form>
</div>
