@section sub_menu{
    <h2>Category</h2>
    <ul>
        <li><a href="@Url.Action("Index")"><i class="icon-reorder icon-large"></i>List</a></li>
        <li><a href="@Url.Action("Create")"><i class="icon-plus-sign icon-large"></i>Create</a></li>
    </ul>
}

<!-- Breadcrumb -->
<nav id="breadcrumb">
    <i class="icon-home icon-large"></i>
    <a href="#" class="home">Perfin</a>
    <i class="icon-double-angle-right icon-large"></i>
    <a href="#" class="current">Category</a>
</nav>



<form>
    <fieldset>
        <legend class="title-description">List Category <span>All your categories</span></legend>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Category Name</th>
                    <th>Parent Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Transport</td>
                    <td>---</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info" href="#"><i class="icon-pencil"></i></a>
                            <a class="btn btn-danger" href="#"><i class="icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Feed</td>
                    <td>---</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#"><i class="icon-pencil"></i></a>
                            <a class="btn btn-danger" href="#"><i class="icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Study</td>
                    <td>---</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#"><i class="icon-pencil"></i></a>
                            <a class="btn" href="#"><i class="icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
