<!-- Breadcrumb -->
<nav id="breadcrumb">
    <i class="icon-home icon-large"></i>
    <a href="#" class="home">Perfin</a>
    <i class="icon-double-angle-right icon-large"></i>
    <a href="#" class="current">Category</a>
</nav>

<h2 id="title-current-page">List Category <span>All your categories</span></h2>

<form>
    <fieldset>
        @*<legend>Create</legend>*@

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Category Name</th>
                    <th>Parent Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Transport</td>
                    <td>---</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info" href="#"><i class="icon-pencil"></i></a>
                            <a class="btn btn-danger" href="#"><i class="icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Feed</td>
                    <td>---</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#"><i class="icon-pencil"></i></a>
                            <a class="btn btn-danger" href="#"><i class="icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Study</td>
                    <td>---</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#"><i class="icon-pencil"></i></a>
                            <a class="btn" href="#"><i class="icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
