<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <nav class="navbar-user pull-right">
                <span data-bind="text: currentUser().name()"></span>
                <img data-bind="attr: { src: currentUser().picture() }" class="user-img img-polaroid" />
                <a href="#" data-bind="click: logOut" class="btn btn-mini" title="Logout"><i class="icon-signout"></i></a>
            </nav>

            <a class="brand" data-bind="attr: { href: router.allRoutes()[0].hash }" title="dashboard">
                <i class="icon-home"></i>
                <span>Perfinster</span>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav" data-bind="foreach: router.visibleRoutes">
                    <li data-bind="css: { active: isActive }">
                        <a data-bind="attr: { href: hash }, html: name"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
