<div>
    <!-- ko compose: {view: 'nav-top'} -->
    <!-- /ko-->

    <div id="wrapper" class="container">

        <!--Main Content-->
        <section id="main_content">

            <!--ko compose: { 
                model: router.activeItem, //wiring the router
                afterCompose: router.afterCompose, //wiring the router
                transition:'entrance', //use the 'entrance' transition when switching views
                cacheViews:true //telling composition to keep views in the dom, and reuse them (only a good idea with singleton view models)
            }-->
            <!--/ko-->

        </section>

        <!--Footer-->
        <footer class="footer">
            <div class="container">
                <span>© 2013 Perfinster</span>
            </div>
        </footer>
    </div>

</div>
