<div>
    <!--Breadcrumb Navigation-->
    <!-- ko compose: {view: '_shared/breadcrumb'} -->
    <!-- /ko-->

    <!-- Title -->
    <h2 class="title-description">
        <span data-bind="html: pageDisplayName"></span>
        <span class="title-description-info" data-bind="html: pageDescription"></span>
    </h2>

    <!-- Status -->
    <ul id="status-container">
        <li>
            <a href="#">
                <span class="status-top">
                    <i class="icon-money icon-4x pull-left green"></i>
                    <span class="status-title">Week Balance</span>
                </span>
                <span class="status-value">R$ 2.000,00</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="status-top">
                    <i class="icon-money icon-4x pull-left green"></i>
                    <span class="status-title">Month Balance</span>
                </span>
                <span class="status-value">R$ 2.000,00</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="status-top">
                    <i class="icon-money icon-4x pull-left green"></i>
                    <span class="status-title">Month Debts</span>
                </span>
                <span class="status-value">R$ 2.000,00</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="status-top">
                    <i class="icon-money icon-4x pull-left green"></i>
                    <span class="status-title">Year Balance</span>
                </span>
                <span class="status-value">R$ 2.000,00</span>
            </a>
        </li>
    </ul>
    <br />
    <br />
    <br />
    <div id="container" data-bind="highcharts: chart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>
