<div>

    <!-- Shortcuts -->
    <div class="form-actions-top-right">
        <a href="#/entry/add" class="btn btn-primary">
            <i class="icon-plus"></i>
            Add an Entry
        </a>
    </div>

    <!--Breadcrumb Navigation-->
    <!-- ko compose: {view: '_shared/breadcrumb'} -->
    <!-- /ko-->

    <!-- Title -->
    <h2 class="title-description">
        <span data-bind="html: pageDisplayName"></span>
        <span class="title-description-info" data-bind="html: pageDescription"></span>
    </h2>




    <!-- Status -->
    <ul id="status-container">
        <li>
            <a href="#">
                <span class="status-top">
                    <i class="icon-money icon-4x pull-left green"></i>
                    <span class="status-title">Week Balance</span>
                </span>
                <span class="status-value">R$ 2.000,00</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="status-top">
                    <i class="icon-money icon-4x pull-left green"></i>
                    <span class="status-title">Month Balance</span>
                </span>
                <span class="status-value">R$ 2.000,00</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="status-top">
                    <i class="icon-money icon-4x pull-left green"></i>
                    <span class="status-title">Month Debts</span>
                </span>
                <span class="status-value">R$ 2.000,00</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="status-top">
                    <i class="icon-money icon-4x pull-left green"></i>
                    <span class="status-title">Year Balance</span>
                </span>
                <span class="status-value">R$ 2.000,00</span>
            </a>
        </li>
    </ul>
    <div style="clear: both"></div>
    <div class="row">
        <div class="span4 chart-box-main">
            <div data-bind="highcharts: chartTotalTypeTransactionsByMonth" style="width: 100%; height: 300px; margin: 0 auto"></div>
        </div>
        <div class="span4 chart-box-main">
            <div data-bind="highcharts: chartTotalTypeTransactionsByMonth" style="width: 100%; height: 300px; margin: 0 auto"></div>
        </div>

        <div class="span4 chart-box-main">
            <div data-bind="highcharts: chartTotalTypeTransactionsByMonth" style="width: 100%; height: 300px; margin: 0 auto"></div>
        </div>
    </div>
    <div style="clear: both"></div>
    <div id="tabs">
        <div id="blue">
            <img src="http://www.rfcng.com/images/photos/finance1.jpg" alt="blue_muffin" width="148" height="185" />
            <h3>Chart/Info 01</h3>
            <p>Cupcake ipsum dolor sit amet pie pudding tiramisu. Powder biscuit oat cake jelly-o jelly beans danish cookie. Jelly carrot cake topping souffl&eacute; topping brownie apple pie lemon drops sweet roll. Gummi bears danish lollipop. Jelly-o chocolate bar halvah jelly beans. Bonbon sesame snaps wafer. Applicake croissant donut sugar plum drag&eacute;e. Sweet oat cake danish.</p>
        </div>
        <div id="pink">
            <img src="http://www.centaurusconsulting.com/images/finance%20-%20money%20chart.jpg" alt="blue_muffin" width="148" height="185" />
            <h3>Chart/Info 02</h3>
            <p>Cupcake ipsum dolor sit amet pie pudding tiramisu. Powder biscuit oat cake jelly-o jelly beans danish cookie. Jelly carrot cake topping souffl&eacute; topping brownie apple pie lemon drops sweet roll. Gummi bears danish lollipop. Jelly-o chocolate bar halvah jelly beans. Bonbon sesame snaps wafer. Applicake croissant donut sugar plum drag&eacute;e. Sweet oat cake danish.</p>
        </div>
        <div id="white">
            <img src="http://www.nantucket-ma.gov/pages/NantucketMA_Finance/scrabble.jpg" alt="white_muffin" width="144" height="153" />
            <h3>Chart/Info 03</h3>
            <p>Apple pie jelly gingerbread gummies topping. Gingerbread jelly marshmallow oat cake wafer lollipop. Cupcake chocolate cake apple pie. Caramels lollipop croissant bear claw brownie carrot cake wafer halvah lollipop. Candy canes tootsie roll jelly-o. Liquorice sugar plum sweet icing tiramisu.</p>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
