<div>
    <!--Breadcrumb Navigation-->
    <!-- ko compose: {view: '_shared/breadcrumb'} -->
    <!-- /ko-->
    <form>
        <fieldset>
            <!-- Title -->
            <legend class="title-description">
                <span data-bind="html: pageDisplayName"></span>
                <span class="title-description-info" data-bind="html: pageDescription"></span>
            </legend>


            <!-- Fields/Tables -->
            <div class="form-actions">

                <a href="#/entry/add" class="btn btn-primary">
                    <i class="icon-plus"></i>
                    Daily Entries
                </a>

            </div>
            <div>
                <a class="btn btn-info "><i class="icon-pencil"><< </i></a>
                <span>2013</span>
                <a class="btn btn-info "><i class="icon-pencil">>> </i></a>
            </div>
            <div>
                <span><< </span><span>June</span> <span>>> </span>
            </div>

            <table class="table table-striped">
                <caption>01 </caption>
                <tbody>
                    <!--data-bind="foreach: entries">-->
                    <tr>
                        <!--<td data-bind="text: id"></td>
                        <td data-bind="text: category().name"></td>
                        <td data-bind="currency: amount"></td>-->
                        <td>2</td>
                        <td>GVT</td>
                        <td>59.00</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-info btnEdit"><i class="icon-pencil"></i></a>
                                <a class="btn btn-danger btnDelete"><i class="icon-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <caption>02 </caption>
                <tbody>
                    <!--data-bind="foreach: entries">-->
                    <tr>
                        <!--<td data-bind="text: id"></td>
                        <td data-bind="text: category().name"></td>
                        <td data-bind="currency: amount"></td>-->
                        <td>3</td>
                        <td>TIM</td>
                        <td>35.00</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-info btnEdit"><i class="icon-pencil"></i></a>
                                <a class="btn btn-danger btnDelete"><i class="icon-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <!--<td data-bind="text: id"></td>
                        <td data-bind="text: category().name"></td>
                        <td data-bind="currency: amount"></td>-->
                        <td>12</td>
                        <td>Gasolina</td>
                        <td>100.00</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-info btnEdit"><i class="icon-pencil"></i></a>
                                <a class="btn btn-danger btnDelete"><i class="icon-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>
