<!-- Breadcrumb -->
<nav id="breadcrumb">
    <i class="icon-home icon-large"></i>
    <a href="#" class="home">Perfin</a>
    <i class="icon-double-angle-right icon-large"></i>
    <a href="#" class="current">Management Items</a>
    <i class="icon-double-angle-right icon-large"></i>
    <a href="#" class="current">Account Type</a>
</nav>



<form>
    <fieldset>
        <!-- Title -->
        <legend class="title-description" >
            <span data-bind="html: pageDisplayName"></span>
            <span class="title-description-info" data-bind="html: pageDescription"></span>
        </legend>

        
        <!-- Fields/Tables -->
        <div class="form-actions">

            <a href="#/accounttype/add" class="btn btn-primary">
                <i class="icon-plus"></i> 
                Add Account Type
            </a>

        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Account Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:accounttypes">
                <tr>
                    <td data-bind="text:id"></td>
                    <td data-bind="text:name"></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info btnEdit"><i class="icon-pencil"></i></a>
                            <a class="btn btn-danger btnDelete"><i class="icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
